<script> 
    function show_html() { 
      $("#your_id").show();
    } 

    function hide_html() { 
      $("#your_id").hide();
    } 
</script> 

<h1> <%= @story.title %> </h1>
<%= @story.tag_links %>

<%= raw render "form", story: @story %>
<%= @story.delete_link(current_user) %>

<%= submit_tag 'View HTML', class: "ses_submit_btn", :onclick => "show_html()" %>
<%= submit_tag 'Hide', class: "ses_submit_btn", :onclick => "hide_html()" %>

<div class="hidden" style="display: none" id="your_id">
   <%= @story.markdown_content %>
</div>

